<div class="container-fluid footer containerPadding15">
    <div class="row" id="listCountries">
        <div class="col-lg-10 col-lg-offset-1">
        {% for country in countries %}
            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis countryFooter">
                <a href="{{ path('country', {'slug' : country.slug }) }}">{{ country.name }}</a>
            </div>
            {% if addDestinations == true %}

                {% for destination in country.destinations %}
                    {% if not destination.isPartial %}
                        <div class="col-md-1 col-sm-2 col-xs-3 ellipsis countryFooter">
                            <a href="{{ path('destination', {'slug' : destination.slug }) }}">{{ destination.name }}</a>
                        </div>
                    {% endif %}
                {% endfor %}

            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
