<div class="container-fluid footer containerPadding15">
    <div class="container">
        <div class="row" id="listCountries">
            {% for country in countries %}
                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis">
                    <a href="{{ path('country', {'slug' : country.slug }) }}">{{ country.name }}</a>
                </div>
                {% if addDestinations == true %}

                    {% for destination in country.destinations %}
                        <div class="col-md-1 col-sm-2 col-xs-3 ellipsis">
                            <a href="{{ path('destination', {'slug' : destination.slug }) }}">{{ destination.name }}</a>
                        </div>
                    {% endfor %}

                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
