{% extends "::layout.html.twig" %}

{% block title %}
    Email envoyé - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container-fluid containerBlue containerPadding">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                    <p class="text-center lead">
                        Votre email a bien été envoyé, nous y répondrons dans les plus bref délais !
                    </p>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="text-center">
                    <a class="btn btn-success" href="{{ path('homepage') }}" role="button">
                        Retour à la page d'accueil
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        {% include 'AppBundle:Vignettes:vignettesConfirmation.html.twig' %}
    </div>
{% endblock %}
