{% set activeIdeasOfTravels = true %}
{% extends "::layout.html.twig" %}

{% block title %}
    Idées de voyages - {{ parent() }}
{% endblock %}

{% block body %}
    <div id="voyagesView">


        <div class="container-fluid containerOrange">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h1>Idées de voyages</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    {% for typicalVoyage in typicalsVoyage %}
                        {% include 'AppBundle:TypicalVoyage:typicalVoyage.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
