<div class="container-fluid footer containerPadding15">

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <p>Site créé par Laura Cucchietti et <a href="http://guilhembourgoin.com/" target="_blank">Guilhem
                    Bourgoin</a>
                <a href="{{ path('contact') }}" class="pull-right"><i class="fa fa-envelope"></i> Contact</a>
            </p>
        </div>
    </div>
</div>
