<div class="container-fluid footer containerPadding15">

    <div class="row" id="listCountries">
        <div class="col-lg-10 col-lg-offset-1">
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/afrique-du-sud">Afrique du Sud</a>
                </div>

                                                                                        
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/algerie">Algérie</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/alger">Alger</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/allemagne">Allemagne</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/berlin">Berlin</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/argentine">Argentine</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/buenos-aires">Buenos Aires</a>
                        </div>
                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/ushuaia">Ushuaia</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/australie">Australie</a>
                </div>

                                                                                                                                    <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/sydney">Sydney</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/autriche">Autriche</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/vienne">Vienne</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/belize">Belize</a>
                </div>

                                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/birmanie">Birmanie</a>
                </div>

                                                                                        
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/bolivie">Bolivie</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/la-paz">La Paz</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/bresil">Brésil</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/rio-de-janeiro">Rio de Janeiro</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/cambodge">Cambodge</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/phnom-penh">Phnom Penh</a>
                        </div>
                                                                        
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/canada">Canada</a>
                </div>

                                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/quebec">Québec</a>
                        </div>
                                                                                                            
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/chili">Chili</a>
                </div>

                                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/santiago">Santiago</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/chine">Chine</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/pekin">Pekin</a>
                        </div>
                                                                                                            
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/costa-rica">Costa Rica</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/san-jose">San Jose</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/emirats-arabes-unis">Émirats Arabes Unis</a>
                </div>

                                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/dubai">Dubaï</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/espagne">Espagne</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/barcelone">Barcelone</a>
                        </div>
                                                                                                            
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/etats-unis">États-Unis</a>
                </div>

                                                                                                                                                                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/new-york">New York</a>
                        </div>
                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/nouvelle-orleans">Nouvelle Orleans</a>
                        </div>
                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/san-francisco">San Francisco</a>
                        </div>
                                                                        
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/france">France</a>
                </div>

                                                                                                                                    <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/paris">Paris</a>
                        </div>
                                                                        
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/hongrie">Hongrie</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/budapest">Budapest</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/indonesie">Indonésie</a>
                </div>

                                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/japon">Japon</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/kyoto">Kyoto</a>
                        </div>
                                                                        
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/kenya">Kenya</a>
                </div>

                                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/laos">Laos</a>
                </div>

                                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/vientiane">Vientiane</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/nepal">Népal</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/katmandou">Katmandou</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/nouvelle-zelande">Nouvelle-Zélande</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/auckland">Auckland</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/perou">Pérou</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/lima">Lima</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/portugal">Portugal</a>
                </div>

                                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/republique-tcheque">République Tchèque</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/prague">Prague</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/royaume-uni">Royaume-Uni</a>
                </div>

                                                                                        
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/russie">Russie</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/moscou">Moscou</a>
                        </div>
                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/saint-petersbourg">Saint-Pétersbourg</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/singapour">Singapour</a>
                </div>

                                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/thailande">Thaïlande</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/bangkok">Bangkok</a>
                        </div>
                                                                                                            
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="http://localhost/Pegase/web/app_dev.php/pays/vietnam">Vietnam</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/Pegase/web/app_dev.php/destination/hanoi">Hanoï</a>
                        </div>
                                    
                    </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 clearfix">
            <p>Site créé par Laura Cucchietti et <a href="http://guilhembourgoin.com/" target="_blank">Guilhem
                    Bourgoin</a>
                <a href="/Pegase/web/app_dev.php/contact/" class="pull-right"><i class="fa fa-envelope"></i> Contact</a>
            </p>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <p class="text-center">
                <i class="fa fa-copyright"></i> Copyright 2016
            </p>
        </div>
    </div>
</div>
