<div class="container-fluid footer containerPadding15">

    <div class="row" id="listCountries">
        <div class="col-lg-10 col-lg-offset-1">
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/afrique-du-sud">Afrique du Sud</a>
                </div>

                                                                                        
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/algerie">Algérie</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/alger">Alger</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/allemagne">Allemagne</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/berlin">Berlin</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/argentine">Argentine</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/buenos-aires">Buenos Aires</a>
                        </div>
                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/ushuaia">Ushuaia</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/australie">Australie</a>
                </div>

                                                                                                                                    <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/sydney">Sydney</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/autriche">Autriche</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/vienne">Vienne</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/belize">Belize</a>
                </div>

                                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/birmanie">Birmanie</a>
                </div>

                                                                                        
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/bolivie">Bolivie</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/la-paz">La Paz</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/bresil">Brésil</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/rio-de-janeiro">Rio de Janeiro</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/cambodge">Cambodge</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/phnom-penh">Phnom Penh</a>
                        </div>
                                                                        
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/canada">Canada</a>
                </div>

                                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/quebec">Québec</a>
                        </div>
                                                                                                            
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/chili">Chili</a>
                </div>

                                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/santiago">Santiago</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/chine">Chine</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/pekin">Pekin</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/costa-rica">Costa Rica</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/san-jose">San Jose</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/emirats-arabes-unis">Émirats Arabes Unis</a>
                </div>

                                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/dubai">Dubaï</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/espagne">Espagne</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/barcelone">Barcelone</a>
                        </div>
                                                                                                            
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/etats-unis">États-Unis</a>
                </div>

                                                                                                                                                                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/new-york">New York</a>
                        </div>
                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/nouvelle-orleans">Nouvelle Orleans</a>
                        </div>
                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/san-francisco">San Francisco</a>
                        </div>
                                                                        
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/france">France</a>
                </div>

                                                                                                                                    <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/paris">Paris</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/hongrie">Hongrie</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/budapest">Budapest</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/japon">Japon</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/kyoto">Kyoto</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/kenya">Kenya</a>
                </div>

                                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/laos">Laos</a>
                </div>

                                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/vientiane">Vientiane</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/nepal">Népal</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/katmandou">Katmandou</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/nouvelle-zelande">Nouvelle-Zélande</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/auckland">Auckland</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/perou">Pérou</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/lima">Lima</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/portugal">Portugal</a>
                </div>

                                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/republique-tcheque">République Tchèque</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/prague">Prague</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/royaume-uni">Royaume-Uni</a>
                </div>

                                                                                        
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/russie">Russie</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/moscou">Moscou</a>
                        </div>
                                                                                <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/saint-petersbourg">Saint-Pétersbourg</a>
                        </div>
                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/singapour">Singapour</a>
                </div>

                                                    
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/thailande">Thaïlande</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/bangkok">Bangkok</a>
                        </div>
                                                                                                            
                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding">
                    <a href="/pays/vietnam">Vietnam</a>
                </div>

                                                            <div class="col-md-1 col-sm-2 col-xs-3 ellipsis smallPadding footerDestination">
                            <a href="/destination/hanoi">Hanoï</a>
                        </div>
                                    
                    </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 clearfix">
            <p>Site créé par Laura Cucchietti et <a href="http://guilhembourgoin.com/" target="_blank">Guilhem
                    Bourgoin</a>
                <a href="/contact/" class="pull-right"><i class="fa fa-envelope"></i> Contact</a>
            </p>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <p class="text-center">
                <i class="fa fa-copyright"></i> Copyright 2016
            </p>
        </div>
    </div>
</div>
