<div class="container-fluid footer containerPadding15">
    <div class="container">

        <div class="row">
            <div class="col-sm-10">
                <p>Site créé par Laura Cucchietti et <a href="http://guilhembourgoin.com/" target="_blank">Guilhem
                        Bourgoin</a></p>
            </div>
            <div class="col-sm-2 pull-right">
                <a href="{{ path('contact') }}"><i class="fa fa-envelope"></i> Contact</a>
            </div>
        </div>
    </div>
</div>
