<div class="container-fluid footer containerPadding15">
    <div class="row">
        <div class="col-sm-12 text-center socialIconsFooter">
            <a href="https://twitter.com/lemondeensac"
   title="Le Monde en Sac sur Twitter" target="_blank"
   class="btn btn-social-icon btn-twitter btn-raised"><i class="fa fa-twitter"></i></a>

<a href="https://www.facebook.com/lemondeensac/"
   title="Le Monde en Sac sur facebook" target="_blank"
   class="btn btn-social-icon btn-facebook btn-raised"><span class="fa fa-facebook"></span></a>

<a href="https://www.instagram.com/lemondeensac/"
   title="Le Monde en Sac sur instagram" target="_blank"
   class="btn btn-social-icon btn-instagram btn-raised"><span class="fa fa-instagram"></span></a>        </div>
    </div>

    <div class="row" id="listCountries">
        <div class="col-lg-10 col-lg-offset-1 columnsFooter">
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/afrique-du-sud">Afrique du Sud</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/johannesburg">Johannesburg</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/le-cap">Le Cap</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/algerie">Algérie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/alger">Alger</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/allemagne">Allemagne</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/berlin">Berlin</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/hamburg">Hamburg</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/munich">Munich</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/argentine">Argentine</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/buenos-aires">Buenos Aires</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/ushuaia">Ushuaia</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/australie">Australie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/melbourne">Melbourne</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/perth">Perth</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/sydney">Sydney</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/autriche">Autriche</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/vienne">Vienne</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/belgique">Belgique</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/bruxelles">Bruxelles</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/belize">Belize</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/belmopan">Belmopan</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/birmanie">Birmanie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/mandalay">Mandalay</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/rangoon">Rangoon</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/bolivie">Bolivie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/la-paz">La Paz</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/bresil">Brésil</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/rio-de-janeiro">Rio de Janeiro</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/cambodge">Cambodge</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/phnom-penh">Phnom Penh</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/siem-reap">Siem Reap</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/canada">Canada</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/montreal">Montreal</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/quebec">Québec</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/toronto">Toronto</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/vancouver">Vancouver</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/chili">Chili</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/ile-de-paques">Ile de Pâques</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/santiago">Santiago</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/chine">Chine</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/hong-kong">Hong Kong</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/pekin">Pekin</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/shanghai">Shanghai</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/colombie">Colombie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/bogota">Bogota</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/costa-rica">Costa Rica</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/san-jose">San Jose</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/croatie">Croatie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/dubrovnik">Dubrovnik</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/zagreb">Zagreb</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/cuba">Cuba</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/la-havane">La Havane</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/danemark">Danemark</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/copenhague">Copenhague</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/egypte">Égypte</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/caire">Caire</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/emirats-arabes-unis">Émirats Arabes Unis</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/abou-dabi">Abou Dabi</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/dubai">Dubaï</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/espagne">Espagne</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/barcelone">Barcelone</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/madrid">Madrid</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/valence">Valence</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/etats-unis">États-Unis</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/boston">Boston</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/las-vegas">Las Vegas</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/los-angeles">Los Angeles</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/miami">Miami</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/new-york">New York</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/nouvelle-orleans">Nouvelle Orleans</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/san-francisco">San Francisco</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/washington">Washington</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/grand-canyon">Grand Canyon</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/phoenix">Phoenix</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/yosemite-park">Yosemite Park</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/vallee-de-la-mort">Vallée de la Mort</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/finlande">Finlande</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/helsinki">Helsinki</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/france">France</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/bordeaux">Bordeaux</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/lyon">Lyon</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/nice">Nice</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/paris">Paris</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/grece">Grèce</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/athenes">Athènes</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/rhodes">Rhodes</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/guatemala">Guatemala</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/tikal">Tikal</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/hongrie">Hongrie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/budapest">Budapest</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/inde">Inde</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/new-delhi">New Delhi</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/indonesie">Indonésie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/jakarta">Jakarta</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/bali">Bali</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/ile-de-sumbawa">Ile de Sumbawa</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/irlande">Irlande</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/dublin">Dublin</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/islande">Islande</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/reykjavik">Reykjavik</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/israel">Israël</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/jerusalem">Jerusalem</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/italie">Italie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/florence">Florence</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/rome">Rome</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/venise">Venise</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/milan">Milan</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/naples">Naples</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/japon">Japon</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/kyoto">Kyoto</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/tokyo">Tokyo</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/jordanie">Jordanie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/petra">Petra</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/amman">Amman</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/kenya">Kenya</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/nairobi">Nairobi</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/laos">Laos</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/luang-prabang">Luang Prabang</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/vientiane">Vientiane</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/malaisie">Malaisie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/kuala-lumpur">Kuala Lumpur</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/maroc">Maroc</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/marrakech">Marrakech</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/fes">Fes</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/mexique">Mexique</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/cancun">Cancun</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/mongolie">Mongolie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/oulan-bator">Oulan Bator</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/nepal">Népal</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/katmandou">Katmandou</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/nicaragua">Nicaragua</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/managua">Managua</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/norvege">Norvège</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/oslo">Oslo</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/nouvelle-zelande">Nouvelle-Zélande</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/auckland">Auckland</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/pays-bas">Pays-Bas</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/amsterdam">Amsterdam</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/perou">Pérou</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/lima">Lima</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/philippines">Philippines</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/iles-des-philippines">Iles des Philippines</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/pologne">Pologne</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/varsovie">Varsovie</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/portugal">Portugal</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/lisbonne">Lisbonne</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/qatar">Qatar</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/doha">Doha</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/republique-tcheque">République Tchèque</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/prague">Prague</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/roumanie">Roumanie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/bucarest">Bucarest</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/royaume-uni">Royaume-Uni</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/edimbourg">Edimbourg</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/londres">Londres</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/russie">Russie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/moscou">Moscou</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/saint-petersbourg">Saint-Pétersbourg</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/singapour">Singapour</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/singapour">Singapour</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/slovaquie">Slovaquie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/bratislava">Bratislava</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/slovenie">Slovénie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/lubiana">Lubiana</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/sri-lanka">Sri Lanka</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/colombo">Colombo</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/suede">Suède</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/stockholm">Stockholm</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/suisse">Suisse</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/geneve">Genève</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/thailande">Thaïlande</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/bangkok">Bangkok</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/chiang-mai">Chiang Mai</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/chiang-rai">Chiang Rai</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/tunisie">Tunisie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/djerba">Djerba</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/tunis">Tunis</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/turquie">Turquie</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/istanbul">Istanbul</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/ankara">Ankara</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/venezuela">Venezuela</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/caracas">Caracas</a></li>
                                                    </ul>

                    </li>
                </ul>
                            <ul class="country">
                    <li>
                        <a href="http://localhost/Pegase/web/app_dev.php/pays/vietnam">Vietnam</a>

                        <ul>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/hanoi">Hanoï</a></li>
                                                            <li class="footerDestination"><a href="http://localhost/Pegase/web/app_dev.php/destination/ho-chi-minh">Ho Chi Minh</a></li>
                                                    </ul>

                    </li>
                </ul>
                    </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 clearfix">
            <p>Site créé par Laura Cucchietti et <a href="http://guilhembourgoin.com/" target="_blank">Guilhem
                    Bourgoin</a>
                <a href="/Pegase/web/app_dev.php/contact" class="pull-right"><i class="fa fa-envelope"></i> Contact</a>
            </p>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <p class="text-center">
                <i class="fa fa-copyright"></i> Copyright 2016
            </p>
        </div>
    </div>
</div>
