<div class="container-fluid">

    <div class="row" style="background-color: #404040; color: grey; padding: 20px;">
        <p>Site créé par Laura Cucchietti et Guilhem Bourgoin</p>
        <div class="col-md-12">
        </div>
    </div>

</div>