<footer class="container-fluid">

    <div class="row">
        <p>Site créé par Laura Cucchietti et Guilhem Bourgoin</p>
        <div class="col-sm-1">
            <a href="{{ path('country', {'slug' : 'france' }) }}">France</a>
        </div>
        <div class="col-sm-1">
            <a href="{{ path('country', {'slug' : 'perou' }) }}">Pérou</a>
        </div>
        <div class="col-sm-1">
            <a href="{{ path('country', {'slug' : 'viet-nam' }) }}">Viêt Nam</a>
        </div>
        <div class="col-sm-1">
            <a href="{{ path('country', {'slug' : 'japon' }) }}">Japon</a>
        </div>
    </div>

</footer>