.stickyHeader {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

#headerDashboard {
  padding-top: 0;
}

#headerDashboardTitle {
  margin-top: 15px;
  font-weight: 400;
}

#headerDashboardInformations {
  margin: 24px 0 0 0;
}

#headerDashboardModifyBtn {
  margin: 21px 0 0 0;
}

@media screen and (max-width: 768px) {
  #headerDashboardInformations {
    margin: 0;
  }

  #headerDashboardModifyBtn {
    margin: 0;
  }
}

#shareVoyage ul,
#dashboard ul {
  list-style: none;
  padding: 0;
}

#shareVoyage .stageStyle,
#dashboard .stageStyle {
  background: gainsboro;
  margin: 1px;
  padding: 10px 15px;
  border-radius: 5px;
}

.stageMovable .drag-handle {
  cursor: n-resize;
}

.stageStyle .handle-fa-icon {
  padding-right: 10px;
}

#dashboard .sortable-ghost {
  opacity: .3;
  background: $colorOrange;
}

#addDestinationHeader {
  margin-top: 5px;
  margin-bottom: 5px;
}

#containerAddDestination .form-group {
  margin-top: 5px;
}

#containerAddDestination select {
  width: 100%;
}

#containerAddDestination button {
  margin-top: 30px;
}

#containerStats h3 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.containerTitleDashboard {
  padding: 10px 30px 5px 30px;
}

#labelNumberDays,
#labelDestination {
  padding-top: 5px;
}

.stageMovable .form-group {
  margin-top: 0;
  padding-bottom: 0;
}

.stageMovable .editable-input .form-control {
  margin: 0;
}

.stageMovable .editable-buttons button {
  margin-top: 0;
  margin-bottom: 0;
  padding: 3px 18px 2px 18px;
}

.selectEditable {
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
  height: 23px;
}

.stagePrice {
  padding-top: 1px;
}

.btnDeleteStage {
  margin-left: 20px !important;
}

.stageMovable .popover-title {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
}

.stageMovable .popover.left > .arrow:after {
  border-left-color: rgba(0, 0, 0, 0);
}

.centerIcon {
  margin-right: auto;
  margin-left: auto;
}

#formShowPricesInPublic {
  margin-top: 5px;
}

#formShowPricesInPublic .help-block {
  right: 0;
  left: 0;
}

#formShowPricesInPublic label {
  font-size: 14px;
  color: rgb(51, 51, 51)
}

.headerListDestination {
  height: 25px;
}

.headerListDestination .labelBudgetHeader {
  padding-right: 60px;
}

.headerListDestination .labelPeriodsHeader {
  padding-right: 5px;
}

.headerListDestination .labelCountryHeader {
  padding-left: 25px;
}