#dashboardAdmin {
  .count_row {
    margin-top: 15px
  }
  .tile_stats_count {
    text-align: center;
    opacity: 0.9;
  }
  .tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
  }

  .count_top {
    font-size: 13px;
  }
  .count {
    line-height: 47px;
    font-weight: 600;
    font-size: 40px;
  }

  .red {
    color: #E74C3C;;
  }

  .btn-add-journey {
    margin: 0;
  }
}