.containerVoyagesList {
  padding-top: 20px;

  .imageLeft {
    padding-right: 0;
  }
  .imageRight {
    padding-left: 0;
  }

  .addVoyage {
    opacity: 0.5;
    margin-top: 10px;
    &:hover {
      opacity: 1;
    }
    a {
      color: $colorOrange;
    }
    .fa {
      font-size: 6em;
      margin-top: 50px;
    }
  }
}
