{% set activeProfile = true %}
{% extends "::layout.html.twig" %}

{% block title %}
    Inscription Validée - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container-fluid containerBlue containerPadding">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                    <p class="text-center lead">
                        Bienvenu {{ user.username }}, votre inscription est terminé, vous pouvez désormais commencer à
                        créer votre voyage.
                    </p>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="text-center">
                    <a class="btn btn-success" href="{{ path('dashboard') }}" role="button">Commencer <i
                                class="fa fa-globe"></i></a>
                </div>

            </div>
        </div>
    </div>

    {% include 'AppBundle:Vignettes:vignettesConfirmation.html.twig' %}

{% endblock %}
