.navbar {
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

#gmap {
    height: 510px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;

    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 2px;
    border: 0;
}

.gmapPadding {
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 992px) {
    #gmap {
        height: 420px;
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    #gmap {
        height: 300px;
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }
    .gmapPadding {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.markerLabel {
    font-size: 16px;
}

.markerPrice {
    font-size: 9px;
}

.containerGrey {
    background-color: $colorGrey;
    color: #C0C0C0;
}

.containerOrange {
  background-color: $colorOrange;
  color: white;
}

.borderBotOrange {
    border-bottom: 3px solid $colorOrange;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.backgroundWhite {
    background-color: white;
}

.titleOrange {
    color: $colorOrange;
}

.containerLinkWhite a {
  color: white;
}

.containerBlue {
    background-color: $colorBlue;
    color: white;
}

.containerPadding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.containerPadding15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.badgeStarsColorYellow .fa-star {
    color: #FFD800;
}

.badgeStarsColorYellow .fa-star-o {
    opacity: 0.6;
}

.navbar .liLabel {
    padding: 15px;
}

.navbar .fa-spinner {
    padding: 15px;
    color: white;
}

.colorInherit {
    color: inherit !important;
}

.passwordLostConnectionForm {
    margin-top: 8px;
}

.img-responsive {
    width: 100%;
}

.flagSelectDestination {
    margin-bottom: 4px;
    margin-right: 10px;
}

.flagGmap {
    margin-bottom: 5px;
    margin-right: 10px;
}

.flagCountryStage {
    margin-bottom: 2px;
}

.flagCountrySmall {
    max-width: 18px !important;
    max-height: 12px !important;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    background-color: #eee;
}

.tooltip-inner {
    background-color: #000;
    padding-bottom: 5px;
    padding-top: 5px;
}

.popover .arrow, .popover .tooltip-arrow, .tooltip .arrow, .tooltip .tooltip-arrow {
    display: block;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.imageErrorPage {
    position: relative;
    width: 100%;
}

.contentErrorPage {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%
}

.btnGoBackToHomepage {
    margin-top: 25px;
}

@media screen and (max-width: 1125px) {
    .contentErrorPage {
        top: 20%;
    }
}

@media screen and (max-width: 768px) {
    .contentErrorPage {
        top: 15%;
    }
}

@media screen and (max-width: 460px) {
    .contentErrorPage p {
        display: none;
    }

    .contentErrorPage h1 {
        font-size: 26px;
    }
}

