.navbar {
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

#gmap {
    height: 510px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 992px) {
    #gmap {
        height: 420px;
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    #gmap {
        height: 300px;
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.markerLabel {
    font-size: 16px;
}

/*#footer-container {*/
/*position: absolute;*/
/*bottom: 0;*/
/*width: 100%;*/
/*}*/

.footer {
    background-color: #222;
    border-color: #080808;
    color: grey;
}

.footer a {
    color: grey;
}

.footer .col-md-11,
.footer .col-md-2,
.footer .col-md-1 {
    padding-right: 5px;
    padding-left: 5px;
}

.containerGrey {
    background-color: #222222;
    color: #C0C0C0;
}

.containerOrange {
    background-color: chocolate;
    color: white;
}

.containerBlue {
    background-color: #4C84B2;
    color: white;
}

.containerPadding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.containerPadding15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.badgeStarsColorYellow .fa-star {
    color: #FFD800;
}

.badgeStarsColorYellow .fa-star-o {
    opacity: 0.6;
}

.navbar .liLabel {
    padding: 15px;
}

.navbar .fa-spinner {
    padding: 15px;
    color: white;
}

.colorInherit {
    color: inherit;
!important;
}

.img-responsive {
    width: 100%;
}

.flagSelectDestination {
    margin-bottom: 4px;
}

.flagCountryStage {
    margin-bottom: 2px;
}

.flagCountrySmall {
    width: 18px; !important;
    margin-right: 10px;
    padding-bottom: 5px;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    background-color: #eee;
}
