.containerMap {
    margin-bottom: 30px;
}

#countryView .page-header,
#destinationView .page-header {
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid chocolate;
}

#countryView h1,
#destinationView h1 {
    font-size: 46px;
}

#countryView .containerMap .controls {
    font-size: 18px;
}

#countryView .containerMap .controls .active {
    font-weight: bold;
    font-style: italic;
}

#countryView .flagCountry {
    margin-top: 10px;
    max-width: 100px;
}

.destinationsCountryList {
    height: 510px;
    overflow: scroll;
}
