#shareVoyage ul,
#dashboard ul {
    list-style: none;
    padding: 0;
}

#shareVoyage li,
#dashboard li {
    background: #eee;
    margin: 1px;
    padding: 10px 15px;
    border-radius: 5px;
}

.cursorMove {
    cursor: move;
}

#dashboard .sortable-ghost {
    opacity: .3;
    background: #f60;
}

#addDestinationHeader {
    margin-top: 5px;
    margin-bottom: 20px;
}

#containerStats h3 {
    margin-top: 10px;
    margin-bottom: 25px;
}

.containerTitleDashboard {
    padding: 10px 30px 5px 30px;
}

#labelDestination {
    padding-top: 5px;
}
