#dashboard ul {
    list-style: none;
    padding: 0;
}

#dashboard li {
    background: #eee;
    margin: 1px;
    padding: 10px 15px;
    cursor: move;
    border-radius: 5px;
}

#dashboard .sortable-ghost {
    opacity: .3;
    background: #f60;
}

#addDestinationHeader {
    margin-top: 5px;
    margin-bottom: 20px;
}

#containerStats h3 {
    margin-top: 10px;
    margin-bottom: 25px;
}