.footer {
    background-color: $colorGrey;
    border-color: #080808;
    color: silver;

    a {
        color: silver;
    }

    #listCountries {
        margin-bottom: 30px;
    }

    .columnsFooter {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 10em;
        }
    }

    .footerDestination {
        a {
            color: grey !important;
        }
    }

    .socialIconsFooter {
        margin-bottom: 10px;
    }
}
