$colorOrange : chocolate;
$colorBlue : #4C84B2;
$colorGrey : #222222;

@import "navbar";
@import "common";
@import "footer";
@import "bootstrapModification";
@import "contact";
@import "countriesAndDestinations";
@import "destinationsList";
@import "homepage";
@import "vignette";
