#connectionRow {
    margin-top: 30px;
}

#rowGmapText a {
    color: inherit;
}

#carouselHomepage {

    em {
        font-weight: 400;
    }

    h1 {
        font-size: 60px;
        padding-bottom: 25px;
        font-weight: 400;
    }

    h2 {
        font-size: 40px;
        padding-bottom: 25px;
        font-weight: 400;
    }

    p {
        font-size: 18px;
        font-weight: 400;
    }

    .carousel-caption {
        height: 70%;
        text-shadow: 1px 1px 3px black;
    }
}

@media screen and (max-width: 1200px) {
    #carouselHomepage {
        .carousel-caption {
            height: 85%;
        }
    }
}

@media screen and (max-width: 992px) {
    #carouselHomepage {
        .carousel-caption {
            height: 80%;
        }

        h1 {
            font-size: 45px;
            padding-bottom: 15px;
        }

        h2 {
            font-size: 35px;
            padding-bottom: 15px;
        }

        p {
            font-size: 16px;
        }

        .carousel-indicators {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    #carouselHomepage {

        h1 {
            font-size: 35px;
            padding-bottom: 0;
        }

        h2 {
            font-size: 30px;
            padding-bottom: 0;
        }

        p {
            font-size: 14px;
        }

        .btn {
            display: none;
        }
    }
}

@media screen and (max-width: 460px) {
    #carouselHomepage {
        .carousel-caption {
            height: initial;
        }

        h1 {
            font-size: 35px;
            padding-bottom: 0;
        }

        h2 {
            font-size: 30px;
            padding-bottom: 0;
        }

        p {
            display: none;
        }
    }
}

@media screen and (max-width: 390px) {
    #carouselHomepage {
        .carousel-caption {
            height: initial;
        }

        h1 {
            font-size: 25px;
            padding-bottom: 0;
        }

        h2 {
            font-size: 20px;
            padding-bottom: 0;
        }

        p {
            display: none;
        }
    }
}


.fb-like {
    transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -moz-transform: scale(1.4);
}
