#connectionRow {
    margin-top: 30px;
}

#rowGmapText a {
    color: inherit;
}

#carouselHomepage .carousel-caption {
    height: 65%;
}

#carouselHomepage h1 {
    font-size: 60px;
    padding-bottom: 25px;
}

#carouselHomepage h2 {
    font-size: 40px;
    padding-bottom: 25px;
}

#carouselHomepage p {
    font-size: 18px;
}

/* responsive text queries */
@media screen and (max-width: 992px) {
    #carouselHomepage .carousel-caption {
        height: 80%;
    }
    #carouselHomepage h1 {
        font-size: 45px;
        padding-bottom: 15px;
    }
    #carouselHomepage h2 {
        font-size: 35px;
        padding-bottom: 15px;
    }
    #carouselHomepage p {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    #carouselHomepage .carousel-caption {
        height: initial;
    }
    #carouselHomepage h1 {
        font-size: 35px;
        padding-bottom: 0;
    }
    #carouselHomepage h2 {
        font-size: 30px;
        padding-bottom: 0;
    }
    #carouselHomepage p {
        font-size: 14px;
    }
}


.fb-like {
    transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -moz-transform: scale(1.4);
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
