.navbar.navbar-inverse {
  background-color: $colorGrey;
}

.imgTitle,
.imgIcon {
  padding-top: 7px;
}

@media screen and (max-width: 1170px) {
  .imgIcon {
    padding-top: 3px;
    padding-left: 15px;
  }

  .imgTitle {
    padding-top: 3px;
  }
}

@media screen and (max-width: 380px) {
  .imgIcon {
    display: none !important;
  }
}