#gmap {
    height: 350px;
}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover,
.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
    background: cadetblue;
}


.datepicker table tr td.today {
    color: #000000;
    background-color: cornsilk;
    border-color: #ffb733;
}
