{% set title = "Modifier votre profil" %}
{% set description = "Modifier votre profil" %}
{% set type = "website" %}
{% set imageUrl = image_banner_homepage_path ~ 'temple_raw.JPG' %}

{% set activeProfile = true %}
{% extends "::layout.html.twig" %}


{% block body %}

    <div class="container-fluid containerPadding">
        <div class="row">

            <div class="col-sm-4 col-sm-offset-1 col-lg-4 col-lg-offset-1 page-header">
                <h1>Modifier votre profil</h1>
            </div>

            <div class="col-sm-6 col-sm-offset-1 col-lg-4 col-lg-offset-1">
                <div class="well">
                    {% include 'AppUserBundle:Profile:edit_content.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div class="hidden-md hidden-sm hidden-xs">
        <div style="height: 80px;"></div>
    </div>

    <div class="container-fluid containerPadding containerOrange containerLinkWhite">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-12">
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'lima' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'prague' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'vientiane' })) }}
            </div>
        </div>
    </div>

{% endblock %}

