{% set activeProfile = true %}
{% extends "::layout.html.twig" %}

{% block title %}
    Modifier votre profil - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container-fluid containerOrange containerPadding">
        <div class="container">
            <div class="row">

                <div class="col-sm-3 col-sm-offset-1">
                    <h1>Modifier votre profil</h1>
                </div>

                <div class="col-sm-4 col-sm-offset-1">

                    {% include 'AppUserBundle:Profile:edit_content.html.twig' %}

                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle:Vignette:vignettesLogin.html.twig' %}

{% endblock %}

