{% if hidePrices is not defined %}
    {% set hidePrices = false %}
{% endif %}

<div class="container-fluid" style="padding-bottom: 30px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if stagesSorted|length > 0 %}
                    <h2>Liste des destinations</h2>
                {% else %}
                    <h2>Aucune destination</h2>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul id="listDestinations">
                    {% for stage in stagesSorted %}
                        {% if hidePrices == true %}
                            {% include 'AppBundle:Share:stageWithoutPrices.html.twig' %}
                        {% else %}
                            {% include 'AppBundle:Voyage:stage.html.twig' %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
