<div class="text-center">
    <a href="{{ path('destination', {'slug' : destination.slug }) }}" class="markerLabel">{{ destination.name }}</a>
    <span class="label label-success" style="font-size: 9px;">
        {{ destination.totalPrices }} &euro; / jour
    </span>
</div>
