<span class="badge badgeStarsColorYellow"
        {% if dateFrom is defined and dateTo is defined %}
    data-toggle="tooltip" data-placement="top"
    title="{{ dateFrom|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM Y') ~ " - " ~ dateTo|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM Y') }}"
        {% endif %}>
    {% set numberStars = 3 %}

    {% if nbStars != 0 %}
        {% for i in 1..nbStars %}
            <i class="fa fa-star"></i>
            {% set numberStars = numberStars - 1 %}
        {% endfor %}
    {% endif %}

    {% if numberStars != 0 %}
        {% for i in 1..numberStars %}
            <i class="fa fa-star-o"></i>
        {% endfor %}
    {% endif %}
</span>
