<div class="container-fluid containerPadding">
    <div class="container">
        <div class="row containerPadding">
            <div class="col-md-2 col-md-offset-3 text-center">

                {#https://dev.twitter.com/web/tweet-button#}

                <a href="https://twitter.com/intent/tweet?text=Mon%20prochain%20voyage&amp;url=TOTO.com"
                   title="Share on Twitter" target="_blank"
                   class="btn btn-block btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>

            </div>
            <div class="col-md-2 text-center">

                <a href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook"
                   target="_blank" class="btn btn-block btn-facebook"><i class="fa fa-facebook"></i>
                    Facebook</a>

            </div>
            <div class="col-md-2 text-center">

                <a href="https://plus.google.com/share?url=" title="Share on Google+" target="_blank"
                   class="btn btn-block btn-google"><i class="fa fa-google-plus"></i> Google+</a>

            </div>
        </div>
    </div>
</div>

