<div class="container-fluid">
    <div class="container">
        <div class="row">

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Abou Dabi', 'slug' : 'abou-dabi'},
            'destinationPrices' : '77',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Berlin', 'slug' : 'berlin'},
            'destinationPrices' : '54',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Cancun', 'slug' : 'cancun'},
            'destinationPrices' : '30',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'La Havane', 'slug' : 'la-havane'},
            'destinationPrices' : '36',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Londres', 'slug' : 'londres'},
            'destinationPrices' : '96',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Marrakech', 'slug' : 'marrakech'},
            'destinationPrices' : '25',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Nouvelle Orleans', 'slug' : 'nouvelle-orleans'},
            'destinationPrices' : '55',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Paris', 'slug' : 'paris'},
            'destinationPrices' : '74',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Perth', 'slug' : 'perth'},
            'destinationPrices' : '57',
            } %}

        </div>
    </div>
</div>
