<div class="container-fluid">
    <div class="container">
        <div class="row">

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Le Cap', 'slug' : 'le-cap'},
            'destinationPrices' : '37',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Melbourne', 'slug' : 'melbourne'},
            'destinationPrices' : '60',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Oulan Bator', 'slug' : 'oulan-bator'},
            'destinationPrices' : '22',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Petra', 'slug' : 'petra'},
            'destinationPrices' : '0',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Santiago', 'slug' : 'santiago'},
            'destinationPrices' : '33',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Vancouver', 'slug' : 'vancouver'},
            'destinationPrices' : '53',
            } %}

        </div>
    </div>
</div>
