<div class="container-fluid containerPadding">
    <div class="container">
        <div class="row">

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Athènes', 'slug' : 'athenes'},
            'destinationPrices' : '55',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Bruxelles', 'slug' : 'bruxelles'},
            'destinationPrices' : '69',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Fes', 'slug' : 'fes'},
            'destinationPrices' : '27',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Istanbul', 'slug' : 'istanbul'},
            'destinationPrices' : '33',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Jakarta', 'slug' : 'jakarta'},
            'destinationPrices' : '23',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'La Paz', 'slug' : 'la-paz'},
            'destinationPrices' : '23',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Lyon', 'slug' : 'lyon'},
            'destinationPrices' : '48',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Madrid', 'slug' : 'madrid'},
            'destinationPrices' : '53',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Siem Reap', 'slug' : 'siem-reap'},
            'destinationPrices' : '26',
            } %}

        </div>
    </div>
</div>
