<div class="container-fluid">
    <div class="container">
        <div class="row">

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Katmandou', 'slug' : 'katmandou'},
            'destinationPrices' : '18',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Chiang Mai', 'slug' : 'chiang-mai'},
            'destinationPrices' : '18',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Ile de Pâques', 'slug' : 'ile-de-paques'},
            'destinationPrices' : '25',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'San Jose', 'slug' : 'san-jose'},
            'destinationPrices' : '35',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'New York', 'slug' : 'new-york'},
            'destinationPrices' : '96',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Reykjavik', 'slug' : 'reykjavik'},
            'destinationPrices' : '74',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Johannesbourg', 'slug' : 'johannesbourg'},
            'destinationPrices' : '36',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Edinbourg', 'slug' : 'edinbourg'},
            'destinationPrices' : '67',
            } %}

            {% include 'AppBundle:Vignette:destinationLarge.html.twig' with {
            'destination' : {'name' : 'Barcelone', 'slug' : 'barcelone'},
            'destinationPrices' : '54',
            } %}

        </div>
    </div>
</div>
