{% set title = "Idées de voyages" %}
{% set titleMetaData = "Les meilleurs idées de voyage." %}
{% set keywords = "idée, de voyage, tour du monde, tour d'europe, tour d'asie, tour d'amérique, backpack" %}
{% set description = "Les meilleurs idées de voyage pour les backpackeurs. Tour du monde, tour d'Europe, tour d'Asie ou tour d'Amérique, tout y est !" %}
{% set type = "article" %}
{% set imageUrl = image_banner_homepage_path ~ 'temple_raw.JPG' %}

{% set activeIdeasOfTravels = true %}
{% extends "::layout.html.twig" %}


{% block body %}
    <div id="voyagesView">

        <div class="container-fluid borderBotOrange backgroundWhite containerPadding15">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-7">
                    <h1 class="titleOrange">Idées de voyages</h1>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    {% for typicalVoyage in typicalsVoyage %}
                        {% include 'Calculator:TypicalVoyage:typicalVoyage.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
