<div class="container-fluid containerPadding">
    <div class="row">
        <div class="col-sm-12">
            <div class="gmapPadding">
                <div id="gmap"></div>
            </div>
        </div>
    </div>
</div>
