{% if hidePrices is not defined %}
    {% set hidePrices = false %}
{% endif %}

{% if allowModification is not defined %}
    {% set allowModification = true %}
{% endif %}

<div class="container-fluid containerPadding15">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10 col-md-12">
            <h2 class="titleOrange">
                {% if stagesSorted|length > 0 %}
                    Liste des destinations
                {% else %}
                    Aucune destination
                {% endif %}
            </h2>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-offset-1 col-lg-10 col-md-12 headerListDestination">

            <div class="
                {% if allowModification == true %}
                    col-md-2 col-sm-1 col-xs-6
                {% else %}
                    col-md-3 col-sm-1 col-xs-6
                {% endif %}
                ">
                <span class="hidden-sm labelCountryHeader">
                    <strong>Pays</strong>
                </span>
            </div>

            <div class="
                {% if allowModification == true %}
                    col-md-3 col-sm-2 col-xs-6
                {% else %}
                    col-md-3 col-sm-3 col-xs-6
                {% endif %}
                ">
                <span>
                    <strong>Destination</strong>
                </span>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-11 hidden-xs">
                <strong>Date d'arrivée</strong>
                <span class="pull-right labelPeriodsHeader">
                    <strong>Période</strong>
                </span>
            </div>

            <div class="
                {% if allowModification == true %}
                    col-md-4 col-sm-5 col-xs-12
                {% else %}
                    col-md-3 col-sm-4 col-xs-12
                {% endif %}
                hidden-xs">
                <strong>Jours sur place</strong>
                <span class="pull-right {% if allowModification == true %}labelBudgetHeader{% endif %}">
                    <strong>Budget</strong>
                </span>
            </div>

        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12">
            <ul id="listDestinations">

                {% include 'CalculatorBundle:Voyage:stageFirstSteps.html.twig' with {'allowModification' : allowModification} %}

                {% for stage in stagesSorted %}
                    {% if allowModification == true %}
                        {% include 'CalculatorBundle:Voyage:stage.html.twig' %}
                    {% else %}
                        {% include 'CalculatorBundle:Share:shareStage.html.twig' with {'hidePrices' : hidePrices} %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
