<div class="container-fluid" id="containerAddDestination">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">

            <div class="well">
                <h3 id="addDestinationHeader">Ajouter une destination</h3>
                <form class="form-inline">
                    <div class="row">

                        <div class="form-group col-sm-6">
                            <label id="labelDestination" for="addDestination">Destination</label>
                            {% include 'AppBundle:Destination:selectDestination.html.twig' with {'selectId' : 'addDestination'} %}
                            <span id="errorBlockDestination_addDestination" class="error-block hidden">Veuillez choisir une destination.</span>
                        </div>

                        <div class="form-group col-sm-6">
                            <div class="input-group" style="width: 100%">
                                <label id="labelNumberDays" for="numberDays">Nombre de jours</label>
                                {% include 'AppBundle:Destination:selectNbDays.html.twig' %}
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-fab btn-fab-mini btn-success">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                        </div>

                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
