{% set shareUrlLong = url('shareVoyage', {'token' : voyage.token}) %}

{% if voyage.urlMinified is not null and voyage.urlMinified is not empty %}
    {% set shareUrl = voyage.urlMinified %}
{% else %}
    {% set shareUrl = shareUrlLong %}
{% endif %}

<div class="container-fluid containerPadding">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-sm-12">
            <h2>Partagez votre voyage</h2>
        </div>
        <div class="col-lg-10 col-lg-offset-1 col-sm-12">
            <a href="{{ shareUrl }}"
               target="_blank"
               title="lien de partage">
                {{ shareUrl }}
            </a>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12">
            <a href="https://twitter.com/intent/tweet?text=Mon%20prochain%20voyage%20planifié%20grâce%20à%20@LeMondeEnSac%20&amp;url={{ shareUrl }}"
               title="Share on Twitter" target="_blank"
               class="btn btn-block btn-raised btn-social-icon btn-twitter centerIcon"><i class="fa fa-twitter"></i></a>
        </div>

        {#<form method="post" action="mailto:?subject=Mon futur voyage&body=Bonjour, voici mon futur voyage : {{ shareUrlLong }} !" >#}
            {#<input type="submit" value="Send Email" />#}
        {#</form>#}

        {#<div class="col-md-2 text-center">#}

        {#<a href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook"#}
        {#target="_blank" class="btn btn-block btn-facebook"><i class="fa fa-facebook"></i>#}
        {#Facebook</a>#}

        {#</div>#}
        {#<div class="col-md-2 text-center">#}

        {#<a href="https://plus.google.com/share?url=" title="Share on Google+" target="_blank"#}
        {#class="btn btn-block btn-google"><i class="fa fa-google-plus"></i> Google+</a>#}

        {#</div>#}
    </div>

</div>

