<div class="container-fluid borderBotOrange backgroundWhite containerTitleDashboard">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-5">
            <h1 id="headerDashboardTitle" class="titleOrange">{{ voyage.name }}</h1>
        </div>
        <div class="col-lg-3 col-sm-5 col-xs-9">
            <p id="headerDashboardInformations" class="lead">
                {{ voyage.startDestination.name }} - {{ voyage.startDate|localizeddate('none', 'none', 'fr_FR', null, 'd MMMM Y') }}
            </p>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-3">
            {% block modifyBtn %}
                <button id="headerDashboardModifyBtn" type="button" class="btn btn-raised btn-primary btn-sm pull-right"
                        data-toggle="modal" data-target="#updateVoyageModal">
                    <i class="fa fa-pencil"></i><span class="hidden-xs"> Modifier</span>
                </button>
            {% endblock %}
        </div>
    </div>
</div>
