{% extends "::layout.html.twig" %}

{% block title %}
    E-mail de changement de mot de passe déjà envoyé - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container-fluid containerBlue containerPadding">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                    <p class="text-center lead">
                        {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
                    </p>

                </div>

            </div>
        </div>
    </div>

    {% include 'AppBundle:Vignette:vignettesConfirmation.html.twig' %}

{% endblock %}

