{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">
            homepage

            {% render url('fos_user_registration_register') %}
            {% render url('fos_user_security_login') %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}


