{% extends "::layout.html.twig" %}

{% block title %}
        {{ parent() }}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div id="gmap" style="width: 900px;height: 300px;"></div>
    <div id="controls"></div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7">
    </script>
    <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script src="maplace.js"></script>
    <script type="text/javascript">

        $().ready(function () {

            $(document).ready(function () {

                new Maplace({
                    locations: [{
                        lat: 48.880195,
                        lon: 2.317879,
                        zoom: 6,
                        title: 'Paris',
                        html: 'Paris'
                    }, {
                        lat: 35.939810,
                        lon: 139.767143,
                        zoom: 6,
                        title: 'Tokyo',
                        html: 'Tokyo'
                    }],
                    map_div: '#gmap',
                    controls_type: 'list',
                    controls_on_map: false,
                    type: 'polyline',
                    view_all_text: 'Tous'
                }).Load();


            });
        });


    </script>
{% endblock %}


