<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token"
           value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}"/>

    <div class="form-group">
        <label for="username">Email ou nom d'utilisateur</label>
        <input type="text" class="form-control" id="username" name="_username" required="required"/>
    </div>


    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" class="form-control" name="_password" required="required"/>
    </div>

    <div class="text-center">
        <button type="submit" id="_submit" class="btn btn-primary" name="_submit">
            <i class="fa fa-sign-in"></i> Connexion
        </button>
        <p style="margin-top: 8px;">
            <a class="colorInherit" href="{{ path('fos_user_resetting_request') }}"><ins>Mot de passe perdu ?</ins></a>
        </p>
    </div>

</form>
