{% set title = "Connexion" %}
{% set keywords = "connexion, email, utilisateur" %}
{% set description = "S'identifier sur Le Monde en Sac." %}
{% set type = "website" %}
{% set imageUrl = image_banner_homepage_path ~ 'temple_raw.JPG' %}

{% set activeConnection = true %}
{% extends "::layout.html.twig" %}


{% block body %}

    <div class="container-fluid containerPadding">
        <div class="row">

            <div class="col-sm-4 col-sm-offset-1 col-lg-4 col-lg-offset-1">
                <div class="page-header">
                    <h1>Connexion</h1>
                </div>
                <a href="{{ path('fos_user_registration_register') }}">Pas encore inscrit ? Cliquer ici !</a>
            </div>

            <div class="col-sm-5 col-sm-offset-1 col-lg-3 col-lg-offset-1">
                <div class="well">
                    {% include 'AppUserBundle:Security:connectionForm.html.twig' %}

                    {% if error %}
                        <p class="text-center ">
                            <strong>
                                {% if error == 'User account is disabled.' %}
                                    Vous n'avez pas encore validé votre email
                                {% else %}
                                    Nom d'utilisateur ou mot de passe incorrect
                                {% endif %}
                            </strong>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="hidden-md hidden-sm hidden-xs">
        <div style="height: 80px;"></div>
    </div>

    <div class="container-fluid containerPadding containerOrange containerLinkWhite">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-12">
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'bangkok' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'buenos-aires' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'san-francisco' })) }}
            </div>
        </div>
    </div>

{% endblock %}
