{% set title = "Modification du mot de passe" %}
{% set description = "Changement de votre mot de passe" %}
{% set type = "website" %}
{% set imageUrl = image_banner_homepage_path ~ 'temple_raw.JPG' %}

{% set activeProfile = true %}
{% extends "::layout.html.twig" %}


{% block body %}

    <div class="container-fluid containerPadding">
        <div class="row">

            <div class="col-sm-4 col-sm-offset-1 col-lg-4 col-lg-offset-1 page-header">
                <h1>Changement de votre mot de passe</h1>
            </div>

            <div class="col-sm-6 col-sm-offset-1 col-lg-4 col-lg-offset-1">
                <div class="well">
                    {% include 'AppUserBundle:ChangePassword:change_password_content.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div class="hidden-md hidden-sm hidden-xs">
        <div style="height: 80px;"></div>
    </div>

    <div class="container-fluid containerPadding containerOrange containerLinkWhite">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-12">
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'bangkok' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'buenos-aires' })) }}
                {{ render(controller('AppBundle:Vignette:get', { 'slug': 'san-francisco' })) }}
            </div>
        </div>
    </div>

{% endblock %}

